<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ming.slove.base">

    <!-- 网络需要权限 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.ming.slove.base.app.APP"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- 配置自定义glide设置 -->
        <meta-data
            android:name="com.ming.slove.base.common.utils.MyGlideModule"
            android:value="GlideModule" />

        <!-- 主程序相关 -->
        <activity
            android:name="com.ming.slove.base.ui.splash.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/OpaqueTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ming.slove.base.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />

    </application>
</manifest>